.avatar1 {
    background: center / contain url(/avatars/avatar1.jpg) no-repeat;
}

.avatar2 {
    background: center / contain url(/avatars/avatar2.jpg) no-repeat;
}

.avatar3 {
    background: center / contain url(/avatars/avatar3.jpg) no-repeat;
}

.avatar4 {
    background: center / contain url(/avatars/avatar4.jpg) no-repeat;
}

.avatar5 {
    background: center / contain url(/avatars/avatar5.jpg) no-repeat;
}

.avatar6 {
    background: center / contain url(/avatars/avatar6.jpg) no-repeat;
}

.avatar7 {
    background: center / contain url(/avatars/avatar7.jpg) no-repeat;
}

.avatar8 {
    background: center / contain url(/avatars/avatar8.jpg) no-repeat;
}

.avatar9 {
    background: center / contain url(/avatars/avatar9.jpg) no-repeat;
}

.avatar10 {
    background: center / contain url(/avatars/avatar10.jpg) no-repeat;
}

.avatar11 {
    background: center / contain url(/avatars/avatar11.jpg) no-repeat;
}

.avatar12 {
    background: center / contain url(/avatars/avatar12.jpg) no-repeat;
}

.avatar13 {
    background: center / contain url(/avatars/avatar13.jpg) no-repeat;
}

.avatar14 {
    background: center / contain url(/avatars/avatar14.jpg) no-repeat;
}

.avatar15 {
    background: center / contain url(/avatars/avatar15.jpg) no-repeat;
}

.avatar16 {
    background: center / contain url(/avatars/avatar16.jpg) no-repeat;
}

.avatar17 {
    background: center / contain url(/avatars/avatar17.jpg) no-repeat;
}

.avatar18 {
    background: center / contain url(/avatars/avatar18.jpg) no-repeat;
}

.avatar19 {
    background: center / contain url(/avatars/avatar19.jpg) no-repeat;
}

.avatar20 {
    background: center / contain url(/avatars/avatar20.jpg) no-repeat;
}

.avatar21 {
    background: center / contain url(/avatars/avatar21.jpg) no-repeat;
}

.avatar22 {
    background: center / contain url(/avatars/avatar22.jpg) no-repeat;
}

.avatar23 {
    background: center / contain url(/avatars/avatar23.jpg) no-repeat;
}

.avatar24 {
    background: center / contain url(/avatars/avatar24.jpg) no-repeat;
}

.avatar25 {
    background: center / contain url(/avatars/avatar25.jpg) no-repeat;
}

.avatar26 {
    background: center / contain url(/avatars/avatar26.jpg) no-repeat;
}

.avatar27 {
    background: center / contain url(/avatars/avatar27.jpg) no-repeat;
}

.avatar28 {
    background: center / contain url(/avatars/avatar28.jpg) no-repeat;
}