/* purgecss start ignore */
@import "tailwindcss/base";
@import "tailwindcss/components";
/* purgecss end ignore */

@import "tailwindcss/utilities";
@import "modal.css";
@import "avatars.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

body {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

@media (min-width: 320px) {
    .container, .container-sm {
        max-width: 320px;
    }

    .container2 {
        max-width: 310px;
    }
    .gameCover {
        width: 100%;
    }
    .boardTable {
        background: transparent url(/uno/gameSession/boardTableMobile.svg) no-repeat top;
        background-size: 78vw 78vh;
    }

    .sideClip .playerOnTable{
        width: 6rem;
    }

    button:hover .textInfo,
    button:hover .textBook {
        color: #27DC95;
    }

    button:active .textInfo,
    button:active .textBook{
        color: #22B77C;
    }

    .gridBoard {
        align-items: center;
        grid-template-rows: 26% 47% 27%;
        grid-template-columns: 1fr 0.8fr 1fr;
    }

    .gridBoard2 {
        align-items: center;
        grid-template-rows: 33% 40% 27%;
        grid-template-columns: 1fr 0.8fr 1fr;
    }

    .btnUno {
        padding: 0.485rem 1.375rem;
        border-radius: 0.9375rem;
        line-height: 1.875rem;
    }

    .passTurn {
        padding: 0.5rem 1rem;
        line-height: 1.25rem;
    }

    .color {
        width: 2.25rem;
        height: 1.875rem;
    }
}

@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 540px;
    }

    .container2 {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container, .container-sm, .container-md {
        max-width: 720px;
    }
    .homePage {
        background: white url(/back.svg) no-repeat top right;
    }

    .container2, .gameCover {
        max-width: 720px;
    }

    .boardTable {
        background: transparent url(/uno/gameSession/boardTable.svg) no-repeat center;
        background-size: 55.5vw 54vh;
    }

    .sideClip .playerOnTable{
        width: 12rem;
    }

    .textInfo, .textBook {
        border-bottom: 1px solid #fff;
    }

    button:hover .textInfo,
    button:hover .textBook {
        color: #27DC95;
        border-bottom: 1px solid #27DC95;
    }

    button:active .textInfo,
    button:active .textBook{
        color: #22B77C;
        border-bottom: 1px solid #22B77C;
    }

    .gridBoard {
        align-items: center;
        grid-template-rows: 43% 25% 32%;
        grid-template-columns: 1fr 0.8fr 1fr;
    }

    .gridBoard2 {
        align-items: center;
        grid-template-rows: 42% 27% 31%;
        grid-template-columns: 1fr 0.8fr 1fr;
    }

    .btnUno {
        padding: 1.125rem 2.375rem;
        border-radius: 1.875rem;
        line-height: 3.0625rem;
    }

    .passTurn {
        padding: 0.5625rem 1.25rem;
        line-height: 1.25rem;
    }

    .color {
        padding: 0.3125rem 1.5rem;
        width: auto;
        height: auto;
    }
}

@media (min-width: 992px) {
    .container, .container-sm, .container-md, .container-lg {
        max-width: 960px;
    }

    .container2, .gameCover {
        max-width: 735px;
    }
}

@media (min-width: 1200px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1140px;
    }

    .container2, .gameCover {
        max-width: 888px;
    }
}

@media (min-width: 1400px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
        max-width: 1248px;
    }
    .container2, .gameCover {
        max-width: 1036px;
    }
}


.container2, .gameCover {
  margin-right: auto;
  margin-left: auto;
}

.lato {
  font-family: 'Lato', sans-serif;
}

.nunito {
  font-family: Nunito, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn {
  padding: 0.1875rem 1.5rem;
  line-height: 1.56rem;
  border-radius: 5px;
  border: none;
}

.btnHead {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.btn:active, .btn:focus {
  outline: none;
}

.bgGame {
  background: radial-gradient(50% 42.89% at 50% 57.11%, #76308E 0%, #5D2671 21.35%, #21153A 77.6%, #190F2F 100%);
}

.btnGreen:hover:enabled, .btnSave:hover:enabled {
  background: #23D58F;
  box-shadow: 0 5px 15px -6px rgba(39, 220, 149, 0.2), 0px 5px 20px -4px rgba(39, 220, 149, 0.2);
}

.btnGreen:active, .btnSave:active {
  color: #DDE2E5;
  box-shadow: 0 5px 15px -6px rgba(39, 220, 149, 0.2), 0px 5px 20px -4px rgba(39, 220, 149, 0.2);
}

.btnGreen:disabled, .btnSave:disabled {
  color: #808080;
  background: #DDE2E5;
  cursor: default;
}

.adminIcon {
  bottom: -0.3125rem;
  right: -0.3125rem;
  width: 1.125rem;
  height: 1.125rem;
}

.avatar {
    box-shadow: 0 8px 10px -6px rgba(25, 10, 47, 0.3), 0 2px 10px -4px rgba(25, 10, 47, 0.3);
    background-size: contain;
    border-color: #463062;
}

@keyframes playerBorder {
    0% {
        border-color: #DB5540;
    }
    50% {
        border-color: #E89822;
    }

    100% {
        border-color: #27DC95;
    }
}
.animationBorder {
    box-shadow: 0 8px 10px -6px rgba(25, 10, 47, 0.3), 0 2px 10px -4px rgba(25, 10, 47, 0.3);
    background-size: contain;
    animation: playerBorder 1s reverse infinite;
}



.nick {
  background: rgba(32, 15, 56, 0.5);
}

.boardTable {
  width: 100%;
  height: 100%;
}

.exitLobbyAndRoom:hover path,
.sound:hover path,
button:enabled .drop:hover path,
button:hover .iconInfo .pathInfo,
button:hover .iconBook path{
  fill: #27DC95;
}

.exitLobbyAndRoom:active path,
.sound:active path,
button:enabled .drop:active path,
button:active .iconInfo .pathInfo,
button:active .iconBook path{
  fill: #22B77C;
}

button:disabled {
  cursor: default;
}

button:disabled .drop path {
  fill: #808080;
}

button:focus {
    outline: none;
}

.sideClip .nick {
  max-width: 12rem;
}

.btnUno {
    position: relative;
    letter-spacing: 0.15em;
    outline: none;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}

.btnUno:enabled {
    background: #DB5540;
    border: 3px solid #812314;
}

.btnUno:disabled {
    background: #AC655A;
    border: 3px solid #6D3228;
    color: #BB7A6F;
    cursor: default;
}

.btnUno::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: inherit;
    border-radius: inherit;
    transform: translate3d(0, 0.4em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.btnUno:enabled::before {
    background: #9D3424;
}

.btnUno:disabled::before {
    background: #87473D;
}

.btnUno:hover:enabled {
    background: #CF4F3B;
    transform: translate(0, 0.05em);}
.btnUno:hover:enabled::before {
    transform: translate3d(0, 0.35em, -1em);
}

.btnUno:active:enabled {
    background: #BE422E;
    transform: translate(0em, 0.4em);}
.btnUno:active:enabled::before {
    transform: translate3d(0, 0, -1em);
}

.btnUno:focus {
    outline: none;
}

.hintsForBtn {
    box-shadow: 0 0 80px rgba(219, 85, 64, 0.8);
}

.shadowPile {
    border-radius: 10px;
}

.shadowPile {
    background: transparent;
    box-shadow: 0 0 30px -6px rgba(39, 220, 149, 0.4), 0 0 25px -4px rgba(39, 220, 149, 0.6);
}

