@media (min-width: 320px) {
    .cardGame {
        width: 270px;
    }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
    .content {
        background: transparent url(/pair.svg) no-repeat top right;
        height: 600px;
    }
    .games {
        padding: 0 6.625rem;
    }
}

@media (min-width: 992px) {
    .cardGame {
        width: 235px;
    }
}

@media (min-width: 1200px) {
    .cardGame {
        width: 270px;
    }
}

@media (min-width: 1400px) {

}

.descCard1 {
    border-radius: 15px;
    height: 140px;
    width: 294px;
    margin-right: 24px;
}

.descCard2 {
    border-radius: 15px;
    height: 140px;
    width: 294px;
}

.cards {
    padding-bottom: 9.44rem;
}

.cardGame {
    height: 300px;
    border-radius: 15px;
    position: relative;
    margin-top: 1.75rem;
}

.svgCard {
    background: transparent url(/cards-icon.svg) center;
    width: 152px;
    height: 196px;
    position: absolute;
    top: -28px;
    right: -24px;
}

.iconUno {
    background: center / contain transparent url(/uno/iconUno.svg) no-repeat;
}

.cardGame1 {
    /* red shadow */
    box-shadow: 0 6px 20px -6px rgba(219, 85, 64, 0.4), 0 8px 24px -4px rgba(173, 70, 53, 0.4);
}

.cardGame2 {
    /* blue shadow */
    box-shadow: 0 6px 20px -6px #3F5FCE, 0 8px 24px -4px rgba(63, 95, 206, 0.4);
}

.cardGame3 {
    /* yellow shadow */
    box-shadow: 0 6px 20px -6px #E89822, 0 8px 24px -4px rgba(232, 152, 34, 0.4);
}

.numberOfPlayers {
    margin-bottom: 0.625rem;
}

.difficultOfGame {
    margin-bottom: 3.75rem;
}

.star1 svg path {
    fill: #E9A527;
}

.star2 svg path {
    fill: #3F5FCE;
}

.nameOfGame {
    margin-bottom: 0.875rem;
    line-height: 3.5rem;
}

.btnPlay1:hover {
    /* blue shadow hover */
    box-shadow: 0 5px 15px -6px rgba(63, 95, 206, 0.2), 0 5px 20px -4px rgba(63, 95, 206, 0.2);
}

.btnPlay1:active {
    color: #dde2e5;

    /* blue shadow hover */
    box-shadow: 0 5px 15px -6px rgba(63, 95, 206, 0.2), 0 5px 20px -4px rgba(63, 95, 206, 0.2);
}

.btnPlay2 {
    background: #DB5540;
}

.btnPlay2:hover {
    background: #D14E3A;

    /* red shadow hover */
    box-shadow: 0 5px 15px -6px rgba(219, 85, 64, 0.2), 0 5px 20px -4px rgba(219, 85, 64, 0.2);
}

.btnPlay2:active {
    background: #C24734;
    color: #DDE2E5;

    /* red shadow */
    box-shadow: 0 5px 15px -6px rgba(219, 85, 64, 0.2), 0 5px 20px -4px rgba(219, 85, 64, 0.2);
}

.flag {
    width: 7.125rem;
    height: 2rem;
}

.flagBlue {
    background: url(/blueFlag.svg) no-repeat right;
}

.flagRed {
    background: url(/redFlag.svg) no-repeat right;
}

.intransparent {
    bottom: 1.5rem;
    right: 0;
}