@media (min-width: 320px) {
}

@media (min-width: 768px) {
}

.table {
    border-collapse: inherit;
    border-spacing: 0 1.3125rem;
}

.tbody .tr {
    background: #FFFFFF;
}

.tr .td:first-child {width: 41rem;}
.tr .td:nth-child(2) {width: 6.625rem;}
.tr .td:nth-child(3) {width: 8.5rem}

.playing {
    position: relative;
}

.holder {
    display:none;
    width: 18.25rem;
    height: 4.3125rem;
    background: url(/uno/msg.svg) no-repeat center;
    padding: 1rem 2.3125rem;
}

.playing:hover .holder {
    display: block;
    position: absolute;
    left: 8.5rem;
    top: 0.3125rem;
}

.tbody .tr .td:first-child {
    border-top-left-radius: 0.625rem;
    border-bottom-left-radius: 0.625rem;
    -moz-border-radius-topleft: 0.625rem;
    -moz-border-radius-bottomleft: 0.625rem;
}
.tbody .tr .td:last-child {
    border-top-right-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
    -moz-border-radius-topright: 0.625rem;
    -moz-border-radius-bottomright: 0.625rem;
}

.td1 {
    padding-left: 1.25rem;
}

.td4 {
    padding-top: 0.75rem;
    padding-bottom: 0.8125rem;
    padding-right: 1.25rem;
}

.btnLogin {
    padding: 0.375rem 1.5rem;
}
