@media (min-width: 320px) {
    .modal {
        height: 100vh;
        width: 100vw;
        outline: none;
    }
    .shadow {
        height: 100%;
    }
    .modalCollapse .shadow div {
        border-radius: 0.3125rem;
    }

    .modalRules, .modalWinner {
        max-height: 100vh;
        max-width: 100vw;
    }

    .rules {
        height: 54vh;
    }

    .btnUnderstandSave {
        padding: 0.5rem 2.5rem ;
    }

    .btnSave {
        padding: 0.5rem 1.375rem;
    }

    .btnCancel {
        padding: 0.5rem 1.9rem;
    }
    .footerModal {
        padding: 2.5rem 1.5rem;
    }
}

@media (min-width: 768px) {
    .modal {
        max-height: 80vh;
        max-width: 448px;
        outline: none;
        width: 100%;
        min-height: 374px;
    }
    .modal div, .modalRules .shadow, .modalWinner .shadow {
        border-radius: 0.625rem;
    }
    .shadow {
        height: auto;
    }

    .modalRules, .modalWinner {
        max-height: 84vh;
        max-width: 720px;
    }

    .rules {
        height: 54vh;
    }

    .btnUnderstandSave {
         padding: 0.40625rem 1.5rem;
     }
    .btnCancel {
          padding: 0.34375rem 1.5rem;
      }

    .footerModal {
        padding: 2.5rem;
        border-bottom-left-radius: 0.625rem;
        border-bottom-right-radius: 0.625rem;

    }
    .linkInRules {
        border-bottom: 1px solid #5D2671;
    }
}

.modalRules, .modalWinner {
    outline: none;
    width: 100%;
}

.modalCollapse {
    outline: none;
}

.shadow .bgGame, .shadow .bg-white {
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
}

.bgFireworks {
    background: center / contain url(/uno/gameSession/fireworks.png) no-repeat;
}

.rules {
    overflow-y: auto;
}

.players {
    overflow-y: auto;
    height: 25vh;
}

.overlay {
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
}

.overlayModal {
    background-color: rgba(38, 16, 16, 0.8);
}

.overlayModalInGame {
    background: rgba(0, 0, 0, 0.5);
}

.ReactModal__Body--open {
    overflow-y: hidden;
}

.footerModal {
    background: white;
    box-shadow: 0 -1px 8px rgba(150, 131, 174, 0.25);
}

.linkInRules {
    color: #5D2671;
    cursor: pointer;
}

.linkInRules:hover,
.linkInRules:active,
.rulDefault:hover .linkInRules,
.rulDefault:active .linkInRules{
    border-bottom: 1px solid #521F65;
    color: #521F65;
}

.rulDefault:hover .iconInLink path, .rulDefault:active .iconInLink path {
    fill: #521F65;
}





.strokePlayer:nth-child(even) {
    background: rgba(93, 38, 113, 0.1);
}